.header {
    background-color: lightcoral;
    text-align: center;
    padding: 10px;
    margin-left: 0;
    border-radius: 10px;
    color: rgb(50, 69, 77);
}

.input-container {
    background-color: lightpink;
    height: auto;
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    border: 2px solid rosybrown;
    border-radius: 5px;
}

.input {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid pink;
    width: 60%;
    cursor: pointer;
    transition: 0.15s
}

input:focus {
    transform: scale(1.025);
    border-color: blue;
    outline: none;
}

button {
    background-color: floralwhite;
    border: 1px solid pink;
    border-radius: 10px;
    padding: 10px;
    color: rgb(85, 48, 48);
}

.output-container {
    background-color: rgb(255, 138, 157);
    text-align: center;    
    padding: 15px;
    margin-top: 10px;
    border: 2px solid pink;
    border-radius: 10px;
    color: wheat;
}

.output-container:empty {
    display: none;
}